<%- include("header") -%>


<h2>This is the about page.</h2>
<p>This web app was made by Mihir Sachdeva. <br>Contact me at <a href="mailto:mihir_s@pp.iitr.ac.in">My Email</a>.</p>

<%- include("footer") -%>
